<div class="mb-3" ng-hide="playerData['qtd_players'] === '2'">
    <strong>Dificuldade da IA: </strong>
    <span class='vermelho'>{{difficultyLevel}}</span>
</div>

<div class="mb-3">
    Clique no local para
    <strong class="{{whosPlay}}">
        <i class="fa-solid fa-{{whosPlay}}"></i>
    </strong>:
</div>

<div class="background-grid mb-3">
    <form class="btn" name="formPlay">
        <div ng-include="'core/views/snippets/board.html'"></div>
    </form>
</div>

<div ng-include="'core/views/snippets/resetButton.html'"></div>