html {
    font: 15pt Arial;
}
.conteudo-body {
    background: url("wallpaper-php.jpg") no-repeat top center fixed;
    background-size: cover;
}

.conteudo::before {
    content: "## Jogo da velha By Jhon ##";
    font: 10pt Arial;
    font-weight: bold;
    color: white;
    background-color: #273747;
    padding: 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 560px;
}

.conteudo {
    background-color: rgba(255,255,255,.8);
    margin: 100px auto 100px auto;
    padding: 10px;
    width: 550px;
    min-height:300px;
}

a {
    color: #273747;
    text-decoration: none;
    font-weight: bold;
    font: 11pt Helvetica;
}

a:hover {
    text-decoration: underline;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}

h1{
    text-align: center;
}

.center{
    text-align: center;
}

.reset{
    text-align: end;
}

.x{
    color: darkred;
}

.o{
    color: midnightblue;
}

.linha_horizontal {
    border: 0;
    height: 4px;
    width: 244px;
    margin-top: 5px;
    margin-bottom: 16px;
}

.transparente{
    color: transparent;
}

.background_grade{
    background-image: url("_image/grade.png");
    height: 216px;
    width: 234px;
    margin-left: 166px;
}

.vermelho{
    color: red;
    font-weight: bold;
}

.btn{
    display: inline;
    border-radius: 50px;
    font-size: 50px;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border-color: transparent;
}

.inicio{
    text-align: start;
}

.btn_start{
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 50px;
    border-color: darkred;
}

.btn_reset{
    font-size: 20px;
    font-weight: bold;
    background-color: white;
    border-radius: 50px;
    border-color: midnightblue;
}