<input type="hidden" ng-model="boardOneData.J1">
<button class="btn-board" ng-on-click="play(boardOneData.J1)">{{boardTwoData.J1}}</button>

<input type="hidden" ng-model="boardOneData.J2">
<button class="btn-board" ng-on-click="play(boardOneData.J2)">{{boardTwoData.J2}}</button>

<input type="hidden" ng-model="boardOneData.J3">
<button class="btn-board" ng-on-click="play(boardOneData.J3)">{{boardTwoData.J3}}</button>

<input type="hidden" ng-model="boardOneData.J4">
<button class="btn-board" ng-on-click="play(boardOneData.J4)">{{boardTwoData.J4}}</button>

<input type="hidden" ng-model="boardOneData.J5">
<button class="btn-board" ng-on-click="play(boardOneData.J5)">{{boardTwoData.J5}}</button>

<input type="hidden" ng-model="boardOneData.J6">
<button class="btn-board" ng-on-click="play(boardOneData.J6)">{{boardTwoData.J6}}</button>

<input type="hidden" ng-model="boardOneData.J7">
<button class="btn-board" ng-on-click="play(boardOneData.J7)">{{boardTwoData.J7}}</button>

<input type="hidden" ng-model="boardOneData.J8">
<button class="btn-board" ng-on-click="play(boardOneData.J8)">{{boardTwoData.J8}}</button>

<input type="hidden" ng-model="boardOneData.J9">
<button class="btn-board" ng-on-click="play(boardOneData.J9)">{{boardTwoData.J9}}</button>