<input type="hidden" ng-model="boardOneData.J1">
<button class="btn-board" ng-on-click="validateAndPlay(boardOneData.J1)">
    <i class="fa-solid fa-{{boardTwoData.J1}} {{boardTwoData.J1}}"></i>
</button>

<input type="hidden" ng-model="boardOneData.J2">
<button class="btn-board" ng-on-click="validateAndPlay(boardOneData.J2)">
    <i class="fa-solid fa-{{boardTwoData.J2}} {{boardTwoData.J2}}"></i>
</button>

<input type="hidden" ng-model="boardOneData.J3">
<button class="btn-board" ng-on-click="validateAndPlay(boardOneData.J3)">
    <i class="fa-solid fa-{{boardTwoData.J3}} {{boardTwoData.J3}}"></i>
</button>

<input type="hidden" ng-model="boardOneData.J4">
<button class="btn-board" ng-on-click="validateAndPlay(boardOneData.J4)">
    <i class="fa-solid fa-{{boardTwoData.J4}} {{boardTwoData.J4}}"></i>
</button>

<input type="hidden" ng-model="boardOneData.J5">
<button class="btn-board" ng-on-click="validateAndPlay(boardOneData.J5)">
    <i class="fa-solid fa-{{boardTwoData.J5}} {{boardTwoData.J5}}"></i>
</button>

<input type="hidden" ng-model="boardOneData.J6">
<button class="btn-board" ng-on-click="validateAndPlay(boardOneData.J6)">
    <i class="fa-solid fa-{{boardTwoData.J6}} {{boardTwoData.J6}}"></i>
</button>

<input type="hidden" ng-model="boardOneData.J7">
<button class="btn-board" ng-on-click="validateAndPlay(boardOneData.J7)">
    <i class="fa-solid fa-{{boardTwoData.J7}} {{boardTwoData.J7}}"></i>
</button>

<input type="hidden" ng-model="boardOneData.J8">
<button class="btn-board" ng-on-click="validateAndPlay(boardOneData.J8)">
    <i class="fa-solid fa-{{boardTwoData.J8}} {{boardTwoData.J8}}"></i>
</button>

<input type="hidden" ng-model="boardOneData.J9">
<button class="btn-board" ng-on-click="validateAndPlay(boardOneData.J9)">
    <i class="fa-solid fa-{{boardTwoData.J9}} {{boardTwoData.J9}}"></i>
</button>