html {
    font: 15pt Arial;
}

.content-body {
    background: url("../images/wallpaper_fundo.jpg") no-repeat top center fixed;
    background-size: cover;
}

.content::before {
    content: "## Jogo da velha ##";
    font: 10pt Arial;
    font-weight: bold;
    color: white;
    background-color: rgba(39,55,71,0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    padding: 5px;
    display: block;
    position: relative;
    top: -10px;
    left: -10px;
    width: 650px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 1em black;
}

.content {
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    margin: 90px auto 0 auto;
    padding: 10px;
    width: 650px;
    min-height:300px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 1em black;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}

h1 {
    text-align: center;
}

.center {
    text-align: center;
}

.x {
    color: darkred;
}

.o {
    color: midnightblue;
}

.background_grade {
    background-image: url("../images/grade.png");
    height: 216px;
    width: 234px;
    margin-left: 166px;
}

.vermelho {
    color: darkred;
    font-weight: bold;
}

.btn-full {
    box-shadow: 0 0 1em black;
    width: -webkit-fill-available;
    border-radius: 5px;
}

.footer {
    text-align: center;
    font-size: 15px;
    color: white;
    background-color: rgba(39,55,71,0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 650px;
    height: 25px;
    box-shadow: 0 2px 1em black;
    border-radius: 0 0 10px 10px;
}

.btn-size-110 {
    width: 110px;
}

.btn-sm {
    margin-bottom: 15px;
}

.shadow-border {
    box-shadow: 0 0 1em black;
    border-radius: 5px;
}

.btn-board {
    width: 62px;
    height: 52px;
    margin-top: 11px;
    margin-left: 1px;
    background-color: transparent;
}

.footer-link {
    text-decoration: none;
    color: white;
}