html {
    font: 2.4vh Arial;
    box-sizing: border-box;
    padding: 0;
    margin: auto;
}

.content-body {
    background: url("../images/wallpaper_fundo.jpg") no-repeat top center fixed;
    background-size: cover;
}

.content {
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(1vh);
    -webkit-backdrop-filter: blur(1.0204081632653061vh);
    margin: 18vh auto 0 auto;
    top: 3vh;
    padding: 1vh;
    height:auto;
    max-width: 70vh;
    border-radius: 10px 10px 0 0;
    box-shadow: 0 0 1em black;
}

span.foco {
    font-weight: bold;
    color: #7e050c;
}

h1 {
    text-align: center;
}

.center {
    text-align: center;
}

.x {
    color: darkred;
}

.o {
    color: midnightblue;
}

.background-grid {
    background-image: url("../images/grade.png");
    background-size: cover;
    height: 30vh;
    width: 30vh;
    margin: auto;
}

.vermelho {
    color: darkred;
    font-weight: bold;
}

.btn-full {
    box-shadow: 0 0 1em black;
    width: -moz-available;
    width: -webkit-fill-available;
    border-radius: 5px;
}

.footer {
    text-align: center;
    font: 12pt Arial;
    color: white;
    background-color: rgba(39,55,71,0.4);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: block;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    max-width: 70vh;
    height: 2.5510204081632653vh;
    box-shadow: 0 2px 1em black;
    border-radius: 0 0 10px 10px;
}

.btn-size-110 {
    width: 60vh;
}

.btn-sm {
    margin-bottom: 1.530612244897959vh;
}

.shadow-border {
    box-shadow: 0 0 1em black;
    border-radius: 5px;
}

.btn-board {
    width: 7.2vh;
    height: 8.5vh;
    margin-top: 0.5vh;
    font-size: 50px;
    align-content: center;
    background-color: transparent;
    border-color: transparent;
}

.footer-link {
    text-decoration: none;
    color: white;
}