<h1>
    <span class="x"><b>--X</b></span>
    <span class="o"><b>O </b></span>
    Configurações
    <span class="o"><b> O</b></span>
    <span class="x"><b>X--</b></span>
</h1>

<form class="center" name="configForm">

    <br/>
    <h5>Conexão banco de dados</h5>
    <br/>

    <fieldset class="inicio">
        <div class="input-group mb-3 shadow-border">
            <span class="input-group-text btn-size">Host:</span>
            <input class="form-control" type="text" ng-model="config.host" value="localhost"
                aria-label="host" aria-describedby="host">
        </div>

        <div class="input-group mb-3 shadow-border">
            <span class="input-group-text btn-size">Usuário:</span>
            <input class="form-control" type="text" ng-model="config.username" value="root"
                aria-label="username" aria-describedby="username">
        </div>

        <div class="input-group mb-3 shadow-border">
            <span class="input-group-text btn-size">Senha:</span>
            <input class="form-control" type="text" ng-model="config.password" value=""
                aria-label="password" aria-describedby="password">
        </div>
    </fieldset>

    <br/>

    <div>
        <button class="btn-size btn btn-outline-primary btn-sm shadow-border" ng-on-click="config(config)">salvar</button>
        <button class="btn-size btn btn-outline-primary btn-sm shadow-border" type="reset">Padrão</button>
        <button class="btn-size btn btn-outline-success btn-sm shadow-border" ng-on-click="testConnection(config)">Testar</button>
        <button class="btn-size btn btn-outline-danger btn-sm shadow-border" ng-on-click="home()">Home</button>

    </div>
</form>